###############################################################################
# Traefik credentials
###############################################################################

configs/traefik/users/dashboard.htpasswd
.aider*

# ------------------------------------------------------------------
# SNMP Exporter
# ------------------------------------------------------------------

configs/snmp-exporter/snmp.yml