###############################################################################
# Traefik credentials
###############################################################################

configs/traefik/users/dashboard.htpasswd